// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron { 
width: 100%;
}

.price {
font-size: 800%;
font-weight: bold;
}

.price_text {
font-size: 200%;
position: relative; top: -2em; 
}

.vertical_center {
position: relative; top: -1.75em; 
}

.list {
font-size: 130%;
}